* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #2f1a1a;
  margin-top: 66px;
}

a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

button,
a {
  border: 0;
  border-radius: 5px;
}

a:hover {
  color: #eaecee;
}

.font-14 {
  font-size: 14px;
}

.font-24 {
  font-size: 24px;
}

.w-375 {
  width: 375px;
}

.page-height {
  height: calc(100vh - 66px);
}

.cursor-pointer {
  cursor: pointer;
}

.header {
  background-color: rgb(0, 0, 0);
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 6;
}

.hamburger-menu-btn {
  border-radius: 5px;
  border: 4px solid black;
}

.hamburger-menu-btn.selected {
  border: 4px solid rgb(0, 0, 0);
}

.hamburger-menu-btn:hover {
  border: 4px solid black;
}

.avatar {
  height: 44px;
  width: 44px;
}

.nav-background {
  width: 100%;
  background-color: rgba(40, 40, 40, 0);
  pointer-events: none;
  transition: background-color 0.25s ease;
  position: fixed;
  z-index: 6;
}

.nav-background.show {
  background-color: rgba(40, 40, 40, 0.7);
  pointer-events: all;
}

.nav {
  background-color: rgb(0, 0, 0);
  padding: 1rem;
  width: 375px;
  left: -375px;
  transition: left 0.25s ease;
  position: fixed;
  z-index: 7;
}

.nav.show {
  left: 0;
}

.navbar-link {
  color: #4e545e;
  font-size: 36px;
  padding: 0;
}

.navbar-link:hover {
  color: #1a1c20;
}

.navbar-sep {
  border: 1px solid #4e545e;
  width: 340px;
  margin: 0.5rem 0;
}

.nav-sign-in-out {
  color: #b5b5b5;
  font-size: 24px;
  transition: color 0.25s ease;
}

.nav-sign-in-out:hover {
  color: #4e545e;
}

.home {
  padding-top: 3rem;
}

.home-hero {
  width: 5rem;
}

.gamemode {
  background-color: #3e201a;
  color: #956a43;
  width: 340px;
  height: 75px;
  font-size: 36px;
  font-weight: lighter;
  letter-spacing: 2.5px;
  transition: background-color 0.25s ease;
  font-family: 'Cormorant SC', sans-serif;
}

.gamemode:hover {
  background-color: #1a1c20;
}

.auth-btn {
  color: #eaecee;
  width: 111px;
  height: 40px;
  font-size: 24px;
  font-weight: 350;
  transition: background-color 0.125s ease;
}

.auth-btn.sign-up {
  background-color: #be8647c2;
}

.auth-btn.sign-up:hover {
  background-color: #be8647;
}

.auth-btn.sign-in {
  background-color: #0173fac2;
}

.auth-btn.sign-in:hover {
  background-color: #0173fa;
}

.auth-form {
  position: relative;
  width: 375px;
  padding-top: 4rem;
}

.auth-title {
  color: #32363c;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.auth-error-box {
  opacity: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(136px + 0.25rem);
  border: 3px solid #e45252;
  pointer-events: none;
}

.auth-error-box.show {
  opacity: 1;
}

.auth-error-message {
  position: absolute;
  top: -1.5rem;
  left: 0.5rem;
  color: #e45252;
  font-size: 14px;
}

.auth-field {
  background-color: #4e545e;
  height: 68px;
  display: flex;
  align-items: center;
}

.auth-input {
  background-color: #4e545e;
  color: #eaecee;
  border: none;
  font-size: 24px;
  font-weight: 350;
  width: 250px;
}

.auth-input::placeholder {
  color: #b5b5b5;
}

.auth-submit-btn {
  color: #eaecee;
  width: 100%;
  height: 48px;
  border-radius: 0;
  font-size: 18px;
  transition: background-color 0.125s ease;
}

.auth-submit-btn.sign-up {
  background-color: #be8647c2;
}

.auth-submit-btn.sign-up:hover {
  background-color: #be8647;
}

.auth-submit-btn.sign-in {
  background-color: #0173fac2;
}

.auth-submit-btn.sign-in:hover {
  background-color: #0173fa;
}

.auth-switch-anchor {
  display: inline;
  font-weight: bold;
}

.auth-switch-anchor.sign-up {
  color: #be8647c2;
}

.auth-switch-anchor.sign-up:hover {
  color: #be8647;
  text-decoration: underline;
}

.auth-switch-anchor.sign-in {
  color: #0173fac2;
}

.auth-switch-anchor.sign-in:hover {
  color: #0173fa;
  text-decoration: underline;
}

.join-page {
  max-width: 700px;
}

.add-post-btn {
  background-color: #3e201a;
  width: 95%;
  height: 60px;
  margin: 1rem auto;
  transition: background-color 0.25s ease;
}

.add-post-btn:hover {
  background-color: rgb(0, 0, 0);
}

.post {
  background-color: #000;
  color: #eaecee;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 15px;
  transition: background-color 0.25s ease;
}

.post:hover {
  background-color: #956a43;
}

.post-board-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
}

.post-text {
  font-weight: 300;
}

.post-form {
  color: #fff;
  padding: 1.5rem;
  padding-top: 3rem;
  max-width: 700px;
}

.side-select {
  width: 100px;
  height: 34px;
  margin: auto 0.25rem;
  border-radius: 8px;
  border: 3px solid #eaecee;
  box-sizing: content-box;
}

.side-select.white {
  background-color: white;
  color: black;
}

.side-select.brown {
  background-color: rgb(0, 0, 0);
  color: white;
}

.side-select.selected {
  border: 7px solid #8b6b24;
}

.post-message-div {
  margin-top: 3rem;
}

.post-message-title {
  margin: 0.5rem;
  font-size: 20px;
}

.post-message {
  width: 100%;
  height: 100px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  resize: none;
  background-color: black;
  color: #956a43;
}

.post-form-buttons {
  margin: 0.5rem 0;
  width: 175px;
}

.cancel-btn,
.create-post-btn {
  height: 32px;
  width: 82px;
}

.cancel-btn {
  background-color: #3e201a;
  color: #956a43;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Cormorant SC', sans-serif;
  font-size: 17px;
}

.cancel-btn:hover {
  color: #32363c;
}

.create-post-btn {
  background-color: #3e201a;
  color: #956a43;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.25s ease;
  font-family: 'Cormorant SC', sans-serif;
  font-size: 17px;
}

.create-post-btn:hover {
  color: #956a43;
  opacity: 50%;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}

.player-palette {
  background-color: #250707;
  color: #eaecee;
  border-radius: 5px;
  width: 100%;
  height: 132px;
}

.palette-avatar {
  width: 38px;
  margin: 0.5rem;
}

.palette-username {
  font-weight: 300;
  width: 240px;
}

.palette-pending {
  margin: 0.25rem;
  font-weight: 300;
}

.palette-promotion {
  font-weight: 300;
  margin-bottom: 0.25rem;
}

.board-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
}

.banner {
  background-color: #000;
  color: #eaecee;
  width: calc(100% - 4px);
  height: 10%;
  position: absolute;
  z-index: 3;
  top: 45%;
  left: 2px;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0%;
  pointer-events: none;
}

.banner.show {
  opacity: 100%;
}

.board {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  display: flex;
}

.board-row {
  flex-basis: calc(100% / 8);
}

.tile {
  flex-basis: calc(100% / 8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-row:nth-child(odd) > .tile:nth-child(odd) {
  background-color: #be8647;
}

.board-row:nth-child(odd) > .tile:nth-child(even) {
  background-color: #e7d0a7;
}

.board-row:nth-child(even) > .tile:nth-child(even) {
  background-color: #be8647;
}

.board-row:nth-child(even) > .tile:nth-child(odd) {
  background-color: #e7d0a7;
}

.chess-piece.playing {
  width: auto;
  height: calc(100% / 8);
  padding: calc(100% / 8 * 0.2);
  pointer-events: none;
  position: absolute;
  transition: all 0.25s ease-in-out;
  margin-left: 6px;
}

.promotion.chess-piece {
  width: auto;
  border-radius: 5px;
  padding: 10px;
  border: 3px solid #647ca1;
}

.promotion.chess-piece:hover {
  border: 3px solid #eaecee;
}

.tile.selected {
  border: 10px solid #508d5a;
}

.highlighted {
  border: 10px solid #eaecee;
}

.post-game {
  background-color: #250707;
  color: #ffff;
  z-index: 5;
  padding: 2rem 0.75rem;
}

.post-game.small {
  position: fixed;
  top: 66px;
}

.post-game.large {
  position: absolute;
  left: 0;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

.dot.gray {
  background-color: #b5b5b5;
}

.trophy {
  width: 32px;
  height: 32px;
}

.resolution {
  background-color: #32363c;
  color: #eaecee;
  font-size: 36px;
  border-radius: 5px;
  height: 156px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-game-message {
  font-size: 24px;
  font-weight: 300;
}

.return-to-game-btn {
  background-color: #4e545e;
  color: #eaecee;
  width: 100%;
  height: 48px;
  transition: background-color 0.25s ease;
}

.return-to-game-btn:hover {
  background-color: #1a1c20;
}

.exit-btn {
  background-color: #e45252;
  color: #eaecee;
  width: 100%;
  height: 48px;
  margin: auto;
  transition: background-color 0.25s ease;
}

.exit-btn:hover {
  background-color: #df2929;
}

.bg-black {
  background-color: black;
}
